In [1]:
import pickle

import pandas as pd
import numpy as np

# ignore warnings because they are not relevant
import warnings
warnings.filterwarnings('ignore')

# suppress the scientific notation when printing numpy arrays
np.set_printoptions(suppress=True)

# Loading the data

In [2]:
stock_index = 'SPX'

In [3]:
stocks = pd.read_csv("./data/StockIndices.csv",
                 decimal=',')

# stocks date format: 29/10/2018
stocks['Date'] = pd.to_datetime(stocks['Date'], format='%d/%m/%Y')
stocks.set_index('Date', inplace=True)
stocks.drop(columns='Unnamed: 0', inplace=True)
stocks.head()

# converting prices to floats
stocks['Price Close'] = [float(price) for price in stocks['Price Close']]

# data cleansing
stocks['Index'] = [name.replace(".", "") for name in stocks['Index'].values]

stock_index = stocks[stocks['Index'] == stock_index]
stock_index.head()

           Index  Price Close
Date
2008-10-30   SPX       954.09
2008-10-31   SPX       968.75
2008-11-03   SPX       966.30
2008-11-04   SPX      1005.75
2008-11-05   SPX       952.77

In [4]:
weather = pd.read_csv("./data/Weather_ALL.csv",
                 sep=';',
                 decimal=',')

# weather date format: 29/10/2018
weather['Date'] = pd.to_datetime(weather['Date'], format='%d/%m/%Y')
weather.set_index('Date', inplace=True)
weather.head()

# drop NaNs
weather.dropna(inplace=True)

weather.head()

,City,Mean Temperature Actual,Low Temperature Actual,High Temperature Actual,Precipitation Actual,Wind Speed Actual,Relative Humidity Actual
Date,,,,,,,
2018-10-25,Boston,6.64,3.28,10.00,0.10,16.44,69.57
2018-10-24,Boston,7.19,5.00,9.39,0.10,18.07,76.07
2018-10-23,Boston,9.19,5.00,13.30,1.04,13.83,77.78
2018-10-22,Boston,6.65,1.10,12.20,0.00,14.37,49.61
2018-10-21,Boston,7.19,2.80,11.70,0.08,24.00,50.89

# Hypothesis: SPX depends on global weather conditions

In [5]:
#Â GENERAGE SEASON BINARIES
stock_index['weekday'] = stock_index.index.dayofweek
stock_index['month'] = stock_index.index.month

# Mondays are bad ^^
stock_index['Monday'] = np.where(stock_index['weekday'] == 0, 1, 0)

# Winter is November, December, October
stock_index['Winter'] = np.where((stock_index['month'] == 11) | 
                       (stock_index['month'] == 12) | 
                       (stock_index['month'] == 1), 1, 0)

In [6]:
stock_index.head()

           Index  Price Close  weekday  month  Monday  Winter
Date
2008-10-30   SPX       954.09        3     10       0       0
2008-10-31   SPX       968.75        4     10       0       0
2008-11-03   SPX       966.30        0     11       1       1
2008-11-04   SPX      1005.75        1     11       0       1
2008-11-05   SPX       952.77        2     11       0       1

In [7]:
cities = dict() 
for city in weather['City'].unique():
    
    city_name = city
    
    city = weather[weather['City'] == city].copy()
    
    # GENERATE WEATHER BINARIES
    city['VeryCold'] = np.where(city['Mean Temperature Actual'] <= np.percentile(city['Mean Temperature Actual'], q=25), 1, 0)
    city['HeavyRain'] = np.where(city['Precipitation Actual'] >= np.percentile(city['Precipitation Actual'], q=75), 1, 0)
    city['ColdRain'] = city['HeavyRain']*city['VeryCold']
    


    cities[city_name] = city

In [8]:
cities['London']

,City,Mean Temperature Actual,Low Temperature Actual,High Temperature Actual,Precipitation Actual,Wind Speed Actual,Relative Humidity Actual,VeryCold,HeavyRain,ColdRain
Date,,,,,,,,,,
2018-10-24,London,14.50,11.90,17.11,0.00,13.57,82.90,0,0,0
2018-10-23,London,9.70,4.30,15.11,0.00,13.44,76.33,0,0,0
2018-10-22,London,9.10,5.20,13.00,0.00,13.61,71.08,0,0,0
2018-10-21,London,12.25,5.50,19.00,0.00,6.83,85.63,0,0,0
2018-10-20,London,10.90,3.60,18.22,0.00,4.87,82.87,0,0,0
2018-10-19,London,9.50,2.89,16.00,0.00,4.78,83.42,0,0,0
2018-10-18,London,11.00,6.00,16.00,0.18,12.48,82.65,0,1,0
2018-10-17,London,13.50,11.00,16.00,0.00,5.19,90.47,0,0,0
2018-10-16,London,16.50,13.00,20.00,0.03,11.11,86.26,0,0,0
2018-10-15,London,12.00,9.80,14.00,3.63,12.11,96.59,0,1,0
2018-10-14,London,14.40,9.78,19.00,0.30,15.37,90.93,0,1,0
2018-10-13,London,21.36,18.60,24.11,0.03,23.15,68.95,0,0,0
2018-10-12,London,17.39,13.50,21.39,0.30,27.57,71.09,0,1,0
2018-10-11,London,16.89,13.50,20.28,0.00,18.15,80.62,0,0,0
2018-10-10,London,17.25,9.50,25.00,0.00,10.94,80.38,0,0,0
2018-10-09,London,15.00,9.00,21.10,0.00,10.39,75.47,0,0,0
2018-10-08,London,10.55,3.80,17.30,0.00,9.65,78.69,0,0,0
2018-10-07,London,9.80,5.00,14.60,1.04,10.46,73.34,0,1,0
2018-10-06,London,10.30,8.00,12.60,0.00,16.74,92.02,0,0,0
2018-10-05,London,16.80,12.60,21.00,0.00,5.30,83.03,0,0,0
2018-10-04,London,13.95,9.60,18.28,0.00,10.52,88.07,0,0,0
2018-10-03,London,14.00,9.60,18.39,0.00,9.85,77.65,0,0,0
2018-10-02,London,14.70,10.00,19.39,0.00,19.83,72.81,0,0,0
2018-10-01,London,11.20,7.00,15.39,0.00,13.98,65.05,0,0,0
2018-09-30,London,9.20,3.00,15.40,0.00,9.46,76.35,0,0,0
2018-09-29,London,10.60,2.90,18.30,0.00,4.30,73.60,0,0,0
2018-09-28,London,12.75,8.00,17.50,0.00,15.93,65.00,0,0,0
2018-09-27,London,16.15,8.90,23.40,0.00,7.37,66.82,0,0,0
2018-09-26,London,13.50,4.00,22.80,0.00,6.70,65.77,0,0,0
2018-09-25,London,10.05,2.00,18.11,0.00,7.33,71.31,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2008-11-28,London,4.00,0.90,7.10,0.20,6.28,93.60,1,1,1
2008-11-27,London,8.90,6.00,11.80,0.20,15.72,92.00,0,1,0
2008-11-26,London,3.55,-2.00,9.10,0.00,7.63,92.23,1,0,0
2008-11-25,London,3.25,-0.50,7.00,0.00,18.13,83.43,1,0,0
2008-11-24,London,4.90,2.60,7.20,0.00,19.94,81.61,1,0,0
2008-11-23,London,2.50,-3.00,8.00,0.71,16.15,85.62,1,1,1
2008-11-22,London,1.60,-3.00,6.20,0.00,15.52,66.08,1,0,0
2008-11-21,London,6.50,2.00,11.00,0.00,24.63,71.48,1,0,0
2008-11-20,London,10.25,6.90,13.60,0.00,17.28,78.73,0,0,0
2008-11-19,London,8.60,4.90,12.30,0.00,13.13,85.90,0,0,0
2008-11-18,London,8.30,4.90,11.70,0.08,12.50,91.39,0,0,0
2008-11-17,London,4.90,-0.20,10.00,0.08,6.26,96.87,1,0,0
2008-11-16,London,8.30,3.80,12.80,0.00,11.85,90.43,0,0,0
2008-11-15,London,12.60,10.90,14.30,0.00,17.65,85.71,0,0,0
2008-11-14,London,12.00,10.00,14.00,0.08,13.57,89.38,0,0,0
2008-11-13,London,7.30,3.50,11.10,0.08,8.43,96.50,0,0,0
2008-11-12,London,7.00,3.60,10.40,0.00,11.19,84.58,1,0,0
2008-11-11,London,9.05,6.60,11.50,0.10,22.91,76.04,0,0,0
2008-11-10,London,10.20,8.00,12.40,0.56,18.57,85.78,0,1,0
2008-11-09,London,9.40,5.80,13.00,0.56,27.37,76.20,0,1,0
2008-11-08,London,9.90,6.70,13.10,0.92,21.22,90.55,0,1,0
2008-11-07,London,10.40,7.60,13.20,0.05,15.76,85.13,0,0,0
2008-11-06,London,10.00,8.90,11.10,0.08,5.94,95.22,0,0,0
2008-11-05,London,10.15,9.00,11.30,0.08,10.70,93.21,0,0,0
2008-11-04,London,10.50,9.00,12.00,0.10,11.35,91.74,0,0,0
2008-11-03,London,9.40,7.80,11.00,0.10,16.91,94.25,0,0,0
2008-11-02,London,9.50,8.00,11.00,0.71,9.19,94.61,0,1,0
2008-11-01,London,5.50,2.00,9.00,0.71,21.35,90.33,1,1,1
2008-10-31,London,5.15,1.50,8.80,0.00,15.31,83.08,1,0,0
2008-10-30,London,4.00,0.20,7.80,0.05,15.31,84.60,1,0,0

# Merging prices and weather

In [9]:
data = pd.merge(stock_index, weather, on='Date')